<div id="<%= dom_id dentist %>">
  <p>
    <strong>Name:</strong>
    <%= dentist.name %>
  </p>

  <p>
    <strong>Registration status:</strong>
    <%= dentist.registration_status %>
  </p>

  <p>
    <strong>Registered since:</strong>
    <%= dentist.registered_since %>
  </p>

</div>
