<h1>Here's a list of all the registered dentists</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Registration Status</th>
      <th>Registered Since</th>
    </tr>
  </thead>
  <tbody>
    <% @dentists.each do |dentist| %>
    <tr>
      <td> <%= link_to dentist.name, dentist %> </td>
      <td><%= dentist.registration_status ? "Registered" : "Not Verified" %></td>
      <td><%= dentist.registered_since %></td>
    </tr>
    <% end %>
  </tbody>
</table>